{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1 class="title">在线玩家列表</h1>
    <div class="subtitle">ONLINE PLAYERS</div>
</div>
<div class="title-bar"></div>
{% for server, players_data in player_list.items() %}
{% if players_data | length == 2 %}
{% set real_players, fake_players = players_data %}
{% else %}
{% set real_players, fake_players = players_data[0], [] %}
{% endif %}
<div class="server">
    <div class="server-header">
        <div class="server-name">
            <div class="accent"></div>
            <h2 class="server-title">{{ server }}</h2>
        </div>
        <div class="count">{{ real_players | length + fake_players | length }} 人在线</div>
    </div>
    <div class="divider"></div>
    <div class="players">
        {% if real_players or fake_players %}
        {% for player in real_players %}
        <div class="player">
            {# <img src="https://crafatar.com/avatars/{{ uuids[player] }}?size=24&overlay"/> #}
            <span class="head"></span>
            <span class="name">{{ player }}</span>
        </div>
        {% endfor %}
        {% for player in fake_players %}
        <div class="player bot">
            <span class="head head-bot"></span>
            <span class="name">{{ player }}</span>
        </div>
        {% endfor %}
        {% else %}
        <div class="player empty">暂无在线玩家！</div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}